<ion-tabs>
  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="home" href="/tabs/home">
      <ion-icon name="home-outline" />
      <ion-label>Inicio</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="comparador" href="/tabs/comparador">
      <ion-icon name="search-outline" />
      <ion-label>Comparar</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="watchlist" href="/tabs/watchlist">
      <ion-icon name="eye-outline" />
      <ion-label>Alertas</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="comunidad" href="/tabs/comunidad">
      <ion-icon name="people-outline" />
      <ion-label>Comunidad</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="coupons" href="/tabs/coupons">
      <ion-icon name="pricetag-outline" />
      <ion-label>Cupones</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>